.scribe-plugin-line-tooltip
  position absolute
  cursor pointer
  p
    line-height 1
    margin 5px 0
    font-size 20px

  .tooltip--hover
    transition: all .1s ease-in;
    transform rotate(45deg)
